In [1]:
import pandas as pd
import requests
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

In [2]:
url = 'https://github.com/FlipRoboTechnologies/ML-Datasets/blob/main/Restaurant%20Food%20Cost/Data_Train.xlsx?raw=true'
res = requests.get(url, allow_redirects=True)
with open('Data_Train.xlsx','wb') as file:
    file.write(res.content)
train = pd.read_excel('Data_Train.xlsx')

In [3]:
train.head(10)

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300
5,CASUAL DINING,5618,"North Indian, Chinese, Seafood, Biryani",12noon – 12:30AM (Mon-Sun),Mumbai,Vile Parle West,4.0,550 votes,800
6,CAFÉ,4383,"Cafe, Chinese, Pizza, North Indian, Burger","12noon – 11:30pm (Mon, Tue, Thu, Fri, Sat, Sun...",Bangalore,Koramangala 6th Block,4.1,509 votes,600
7,MICROBREWERY,1249,Bar Food,1pm – 1am (Mon-Sun),Gurgaon,Sector 29,4.3,1612 votes,1600
8,QUICK BITES,7062,"South Indian, North Indian",7am – 10:30pm (Mon-Sun),Bangalore,Bannerghatta Road,3.9,101 votes,300
9,QUICK BITES,10109,North Indian,"11am – 2pm, 4pm – 10:30pm (Mon-Sun)",Hyderabad,Dilsukhnagar,3.3,219 votes,200

In [4]:
url = 'https://github.com/FlipRoboTechnologies/ML-Datasets/blob/main/Restaurant%20Food%20Cost/Data_Test.xlsx?raw=true'
res = requests.get(url, allow_redirects=True)
with open('Data_Test.xlsx','wb') as file:
    file.write(res.content)
test = pd.read_excel('Data_Test.xlsx')

In [5]:
 #Checking the dimensions of the datasets.
train.shape, test.shape

((12690, 9), (4231, 8))

In [6]:
# Checking types of columns
train.dtypes

TITLE            object
RESTAURANT_ID     int64
CUISINES         object
TIME             object
CITY             object
LOCALITY         object
RATING           object
VOTES            object
COST              int64
dtype: object

In [7]:
train.isnull().sum()

TITLE            1003
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          11687 non-null  object
 1   RESTAURANT_ID  12690 non-null  int64
 2   CUISINES       12690 non-null  object
 3   TIME           12690 non-null  object
 4   CITY           12578 non-null  object
 5   LOCALITY       12592 non-null  object
 6   RATING         12688 non-null  object
 7   VOTES          11486 non-null  object
 8   COST           12690 non-null  int64
dtypes: int64(2), object(7)
memory usage: 892.4+ KB

In [9]:
for i in train.columns:
    print("Unique values in", i, train[i].nunique())

Unique values in TITLE 112
Unique values in RESTAURANT_ID 11892
Unique values in CUISINES 4155
Unique values in TIME 2689
Unique values in CITY 359
Unique values in LOCALITY 1416
Unique values in RATING 32
Unique values in VOTES 1847
Unique values in COST 86

In [10]:
train = train.drop(columns = ['RESTAURANT_ID'])

In [23]:
df['TITLE'].fillna('Unknown', inplace=True)

In [42]:
df['RATING'] = df['RATING'].df.replace('NEW', '1').str.replace('-', '1').astype(float)

AttributeError: 'Series' object has no attribute 'df'

In [44]:
df['RATING'] = df['RATING'].astype(str).replace('NEW', '1').str.replace('-', '1').astype(float)

In [41]:
df['VOTES'] = df['VOTES'].astype(str).str.replace(' votes', '').astype(float)

In [26]:
df['CITY'].fillna('Unknown', inplace=True)
df['LOCALITY'].fillna('Unknown', inplace=True)

In [19]:
df['COST'] = df['COST'].astype(float)
df['COST'].fillna(df['COST'].mean())

0        1200.000000
1        1500.000000
2         800.000000
3         800.000000
4         300.000000
            ...
16916     655.252246
16917     655.252246
16918     655.252246
16919     655.252246
16920     655.252246
Name: COST, Length: 16921, dtype: float64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16921 entries, 0 to 16920
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TITLE     16921 non-null  object
 1   CUISINES  16921 non-null  object
 2   CITY      16921 non-null  object
 3   LOCALITY  16921 non-null  object
 4   RATING    16921 non-null  float64
 5   VOTES     16921 non-null  float64
 6   COST      16921 non-null  float64
dtypes: float64(3), object(4)
memory usage: 925.5+ KB

In [21]:
# Checking value count for each column
for i in train.columns:
    print(train[i].value_counts())
    print("\n")

TITLE
QUICK BITES               4218
CASUAL DINING             3652
CAFÉ                       607
DESSERT PARLOR             382
CASUAL DINING,BAR          349
                          ...
BAKERY,FOOD COURT            1
CLUB,MICROBREWERY            1
QUICK BITES,FOOD TRUCK       1
BAKERY,BEVERAGE SHOP         1
BAR,MICROBREWERY             1
Name: count, Length: 112, dtype: int64


CUISINES
South Indian                                  532
North Indian                                  526
North Indian, Chinese                         501
Fast Food                                     286
Chinese                                       167
                                             ...
Italian, Biryani, Fast Food                     1
Desserts, Juices, Fast Food                     1
Asian, Continental, European, North Indian      1
Cafe, Continental, Italian, Lebanese            1
Finger Food, Continental, Asian, Chinese        1
Name: count, Length: 4155, dtype: int64


TIME
11am – 11pm (Mon-Sun)                                 1415
12noon – 12midnight (Mon-Sun)                          469
12noon – 11pm (Mon-Sun)                                407
11am – 12midnight (Mon-Sun)                            310
10am – 10pm (Mon-Sun)                                  221
                                                      ...
10am – 10pm (Mon-Fri),8:30am – 10pm (Sat-Sun)            1
12noon – 3:30pm, 6pm – 10:30pm (Mon-Thu),12noon...       1
12noon – 5:30pm, 7pm – 11pm (Mon-Sun)                    1
12midnight – 11:45pm (Mon-Sun)                           1
12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...          1
Name: count, Length: 2689, dtype: int64


CITY
Chennai                                                                           2174
Bangalore                                                                         2149
Hyderabad                                                                         1819
Mumbai                                                                            1722
New Delhi                                                                         1321
                                                                                  ...
Gachibowli Hyderabad                                                                 1
CPR layout harlur main road opposite to ozone ever green apartment Bangalore -       1
ECR NEELANKARAI Chennai 600115                                                       1
ward X11                                                                             1
Masab Tank                                                                           1
Name: count, Length: 359, dtype: int64


LOCALITY
Gachibowli                 166
Indiranagar                138
Edappally                  122
Kakkanad                   121
HSR                        120
                          ...
Huda Market                  1
OMR Road Sholinganallur      1
Telangana 500053             1
1st Lane                     1
Near Malviya Nagar           1
Name: count, Length: 1416, dtype: int64


RATING
3.9    1238
3.8    1190
4.0    1099
3.7    1086
3.6     951
4.1     936
3.5     771
4.2     723
NEW     707
3.4     575
4.3     556
-       495
3.3     365
4.4     362
3.2     266
4.5     199
2.9     186
3.1     186
3.0     170
2.8     146
4.6     141
2.7      89
4.7      69
2.6      61
2.5      35
4.8      32
4.9      22
2.4      15
2.3      10
2.1       3
2.0       2
2.2       2
Name: count, dtype: int64


VOTES
44 votes      71
29 votes      66
28 votes      66
38 votes      65
35 votes      64
              ..
1020 votes     1
4634 votes     1
2297 votes     1
1475 votes     1
1214 votes     1
Name: count, Length: 1847, dtype: int64


COST
300      1595
400      1357
500      1300
200      1031
600       806
         ...
8000        1
14000       1
5200        1
80          1
70          1
Name: count, Length: 86, dtype: int64

In [37]:
df['RATING'].fillna(3.9, inplace=True)  
df['VOTES'].fillna(0.0, inplace=True)

In [11]:
df = pd.concat([train, test], ignore_index=True)

In [12]:
df = df[['TITLE', 'CUISINES', 'TIME', 'CITY', 'LOCALITY', 'RATING', 'VOTES', 'COST']]

In [28]:
df.head(10)

,TITLE,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49.0,1200.0
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30.0,1500.0
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221.0,800.0
3,QUICK BITES,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24.0,800.0
4,DESSERT PARLOR,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165.0,300.0
5,CASUAL DINING,"North Indian, Chinese, Seafood, Biryani",12noon – 12:30AM (Mon-Sun),Mumbai,Vile Parle West,4.0,550.0,800.0
6,CAFÉ,"Cafe, Chinese, Pizza, North Indian, Burger","12noon – 11:30pm (Mon, Tue, Thu, Fri, Sat, Sun...",Bangalore,Koramangala 6th Block,4.1,509.0,600.0
7,MICROBREWERY,Bar Food,1pm – 1am (Mon-Sun),Gurgaon,Sector 29,4.3,1612.0,1600.0
8,QUICK BITES,"South Indian, North Indian",7am – 10:30pm (Mon-Sun),Bangalore,Bannerghatta Road,3.9,101.0,300.0
9,QUICK BITES,North Indian,"11am – 2pm, 4pm – 10:30pm (Mon-Sun)",Hyderabad,Dilsukhnagar,3.3,219.0,200.0

In [32]:
df.tail()

,TITLE,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
16916,CASUAL DINING,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287.0,655.252246
16917,Unknown,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469.0,655.252246
16918,QUICK BITES,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53.0,655.252246
16919,QUICK BITES,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,1.0,0.0,655.252246
16920,QUICK BITES,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63.0,655.252246

In [30]:
df['COST'].fillna(df['COST'].mean(), inplace=True)

In [33]:
df.shape

(16921, 8)

In [34]:
df.drop(columns=['TIME'], inplace=True)

In [35]:
# Now you can use describe() to include categorical variables
(df.describe())

             RATING         VOTES          COST
count  16921.000000  16921.000000  16921.000000
mean       3.520879    379.407836    655.252246
std        0.909965    808.451565    542.979598
min        1.000000      0.000000     20.000000
25%        3.400000     40.000000    350.000000
50%        3.800000    133.000000    600.000000
75%        4.000000    409.000000    655.252246
max        4.900000  41186.000000  14000.000000

In [47]:
df = pd.get_dummies(df, columns=['CITY', 'LOCALITY'])

In [49]:
from sklearn.model_selection import train_test_split
X = train.drop(columns=['COST'])
y = train['COST']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [53]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())])

# Preprocessing for categorical features
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [65]:
numeric_features =  ['VOTES', 'RATING', 'COST']
categorical_features = ['TITLE', 'CUISINE', 'CITY', 'LOCALITY']
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler(with_mean=False))  
])
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [66]:
from sklearn.linear_model import LinearRegression
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

In [67]:
pipeline.fit(X_train, y_train)

ValueError: A given column is not a column of the dataframe

In [54]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, ['RATING', 'VOTES', 'CUISINES']),
        ('cat', categorical_transformer, ['TITLE', 'CITY', 'LOCALITY'])])

In [55]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, random_state=42)

In [56]:
# Create the pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('model', model)])

In [58]:
preprocessing_steps = [
    ('onehot', OneHotEncoder()),  # One-hot encode categorical variables
    ('scaler', StandardScaler()),  # Standardize features
]

# Define the pipeline with preprocessing steps and a machine learning model
pipeline = Pipeline(steps=preprocessing_steps + [('regressor', RandomForestRegressor())])